.noteCard{
    background-color: cornsilk;
}

.cardBody{
    overflow-y: hidden;
    mask-image: linear-gradient(180deg, #000000 60%, transparent);
}

.cardText{
    white-space: pre-line;
}

.notePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noteGrid{
    width: 100%;
}